---
title: "Electric Sheep"
layout: page
description: "A blog about technology, privacy, and freedom"
---

<div style="margin-top: 1rem">
  {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date |
  date: '%Y %B'" %} {% for yearMonth in postsByYearMonth %}
  <!-- <h1>{{ yearMonth.name }}</h1> -->
  {% for post in yearMonth.items %}
  <div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis">
    <span style="font-weight: bold">&middot;</span>
    <span>{{- post.date | date: '%b %d, %Y' -}}</span>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </div>
  {% endfor %} {% endfor %}
</div>
