<div class="menu">
  <ul>
    <li><a href="{{ site.baseurl }}/archive.html">Archive</a></li>
    <li><a href="{{ site.baseurl }}/subscribe.html">Subscribe</a></li>
    <li><a href="{{ site.baseurl }}/colophon.html">Colophon</a></li>
    <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
  </ul>
</div>

<div class="hamburger">
  <i class="fa-solid fa-bars expand"></i>
  <i class="fa-solid fa-xmark close"></i>
</div>

<script>
  const hamburger = document.getElementsByClassName("hamburger")[0];
  const expand = document.getElementsByClassName("expand")[0];
  const close = document.getElementsByClassName("close")[0];
  const menu = document.getElementsByClassName("menu")[0];

  function toggleMenu(event) {
    if (event.target.classList.contains("expand")) {
      menu.style.display = "block";
      expand.style.display = "none";
      close.style.display = "block";
    } else {
      menu.style.display = "none";
      expand.style.display = "block";
      close.style.display = "none";
    }
  }

  hamburger.addEventListener("click", toggleMenu);
</script>
