body {
  font-family: monospace;
  font-size: 1rem;
  font-size: 14px;
  line-height: 1.5rem;
}

body main {
  max-width: 640px;
  margin: auto;
  padding: 1rem;
}

blockquote {
  margin-left: 20px;
  border-left: 1px #ccc solid;
  padding-left: 20px;
  font-size: 0.85rem;
}

main h1 {
  font-size: 18px;
}

date {
  color: #444;
}

article h1 a {
  text-decoration: none;
  color: inherit;
}

article h1 svg {
  height: 18px;
  width: 18px;
}
