body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #000;
  background-color: #f3f0e2;
  max-width: 680px;
  margin: 0 auto;
  padding: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 18px;
  margin-top: 0;
  color: #444;
}

h2 {
  font-size: 18px;
  margin-top: 0;
  color: #666;
}

.article-headline {
  color: #444;
}

a {
  text-decoration: none;
  border-bottom-style: dotted;
  border-color: #72767a;
  border-width: 0 0 1px 0;
  color: #444;
}

a:hover {
  background: rgb(255, 246, 224);
  color: 000;
}

img {
  object-fit: cover;
  object-position: center;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  line-height: 2rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

blockquote {
  border-left: 1px solid #ccc;
  margin: 1.5em 0;
  padding: 0 10px;
}

blockquote p {
  display: inline;
  font-size: 15px;
}

.site-content {
  min-height: calc(100vh - 5rem);
}

.logo {
  margin-top: 0;
  margin-bottom: 2rem;
  display: relative;
}

.content {
  margin-bottom: 3rem;
}

.hamburger {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: #444;
}

.hamburger .close {
  display: none;
}

.footer {
  font-size: 15px;
  color: #555;
}

@media (max-width: 640px) {
  .footer .left {
    display: none;
  }
  .menu {
    margin-bottom: 2rem;
    display: none;
  }
  .menu ul li a {
    display: block;
    border-bottom-style: none;
  }
}

@media (min-width: 640px) {
  .footer .left {
    display: block;
  }
  .container,
  .footer {
    display: flex;
    column-gap: 4rem;
  }
  .menu,
  .left {
    display: block;
    text-align: right;
    width: 80px;
  }
  .logo {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .content {
    margin-bottom: 4rem;
    width: 100%;
  }
  .hamburger {
    display: none;
  }
  .menu ul li a {
    border-bottom-style: dotted;
  }
}

date {
  font-size: 0.8rem;
  color: #666;
}

.title-link {
  font-size: 14px;
  margin-left: 5px;
  border-bottom: none;
}

.logo a {
  color: #444;
  text-decoration: none;
}

.brand {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
}

.brand i {
  font-size: 1.8rem;
  color: #cfcf0f;
}

.brand .header {
  font-size: 1.8rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.brand .tagline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: -5px;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  font-size: 14px;
  font-weight: 600;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.55rem 0.8rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #444;
  border: 1px solid #dee2e6;
}
.page-link:hover {
  z-index: 2;
  color: #444;
  text-decoration: none;
  background-color: rgb(255, 246, 224);
  border-color: rgb(250, 237, 203);
}
.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(3, 168, 124, 0.25);
}
.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 1;
  background-color: #cfcf0d;
  border-color: #cfcf0d;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  border-color: #dee2e6;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.15rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
