body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #000;
  background-color: #f3f0e2;
  max-width: 680px;
  margin: 0 auto;
  padding: 20px;
}

p {
  font-size: 16px;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 18px;
  margin-top: 0;
  color: #444;
}

h2 {
  font-size: 18px;
  margin-top: 0;
  color: #444;
}

.article-headline {
  color: #444;
}

a {
  text-decoration: none;
  border-bottom-style: dotted;
  border-color: #72767a;
  border-width: 0 0 1px 0;
  color: #444;
}

a:hover {
  background: rgb(255, 246, 224);
  color: 000;
}

img {
  object-fit: cover;
  object-position: center;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  line-height: 2rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}

blockquote {
  border-left: 1px solid #ccc;
  margin: 1.5em 0;
  padding: 0 10px;
}

blockquote p {
  display: inline;
  font-size: 15px;
}

.logo {
  margin-top: 0;
  margin-bottom: 2rem;
  display: relative;
}

.content {
  margin-bottom: 3rem;
}

.hamburger {
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: #444;
}

.hamburger .close {
  display: none;
}

@media (max-width: 640px) {
  .menu {
    margin-bottom: 2rem;
    display: none;
  }

  .menu ul li a {
    display: block;
    border-bottom-style: none;
  }
}

@media (min-width: 640px) {
  .container {
    display: flex;
    column-gap: 4rem;
  }
  .menu {
    display: block;
    text-align: right;
  }
  .logo {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .content {
    margin-bottom: 4rem;
  }
  .hamburger {
    display: none;
  }
  .menu ul li a {
    border-bottom-style: dotted;
  }
}

date {
  font-size: 0.8rem;
  color: #666;
}

.title-link {
  font-size: 14px;
  margin-left: 5px;
  border-bottom: none;
}

.logo a {
  color: #444;
  text-decoration: none;
}

.brand {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
}

.brand i {
  font-size: 1.8rem;
  color: #cfcf0f;
}

.brand .header {
  font-size: 1.8rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.brand .tagline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: -5px;
}
