<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{page.title}} | {{site.name}}</title>

    {% seo %}

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{site.baseurl}}/{{site.favicon}}"
    />

    <!-- Remix Icons -->
    <link href="{{site.baseurl}}/assets/fonts/remixicon.css" rel="stylesheet" />

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />
  </head>

  <body>
    <!-- Content -->
    <main role="main" class="px-4 max-w-xl mx-auto">
      {{ content }}{% include footer.html %}
    </main>
  </body>
</html>
